body{
    text-align: center;
    background-color: orangered;
    font-family: cursive;
    margin: 20px;
}
h1{
    font-size: 3.5em;
}
div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
button{
    width: 200px;
    height: 200px;
    font-size: 3em;
    font-family: cursive;
    font-weight: bolder;
    color: yellow;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px black;
    margin-top: 5px;
    transition: all 400ms;
    margin-bottom: 20px;
}
@media (max-width: 500px){
    .button{
        width: 100px;
        font-size: 2em;
    }
}
button:hover{
    transform: scale(1.05);
}
.w{
    background-image: url(Snare.jpg);
}
.s{
    background-image: url(Kick.jpg);
}
.a{
    background-image: url(HiHatClose.jpg);
}
.d{
    background-image: url(HiHatOpen.webp);
}
.j{
    background-image: url(CrashCymbal.jpg);
}
.k{
    background-image: url(TomDrum.jpg);
}
